---

---

<nav>
  <div class="px-6 container mx-auto">
    <div class="flex justify-start items-center py-4 text-primary-100">
      <div class="space-x-4">
        <a href="/#testimonials" class="hover:text-primary-200">Testimonials</a>
        <a href="/#services" class="hover:text-primary-200">Services</a>
        <a href="/#about" class="hover:text-primary-200">My Story</a>
        <a href="/#contact" class="hover:text-primary-200">Contact Me</a>
        <a href="/#faq" class="hover:text-primary-200">FAQ</a>
      </div>
    </div>
  </div>
</nav>
