---
type Props = {
  header: string;
  subheader?: string;
};
const { header, subheader } = Astro.props;
---

<div class="section-header text-center">
  <h2 class="text-3xl md:text-4xl font-semibold mb-2 text-primary-800">
    {header}
  </h2>
  {subheader && <p class="text-lg text-gray-700">{subheader}</p>}
</div>
