---
type Props = {
  header: string;
  subheader?: string;
};
const { header, subheader } = Astro.props;
---

<div class="section-header">
  <h2
    class="text-3xl md:text-4xl font-semibold mb-8 text-center text-primary-800"
  >
    {header}
  </h2>
  {subheader && <p class="text-lg text-gray-700 mb-6">{subheader}</p>}
</div>
